$black: #000000;
$white: #ffffff;
$gray-dark: #666666;
$gray-light: #f2f2f2;
$gray-normal: #cccccc;
$gray-normal2: #D8D8D8;
$green-normal: #43AC6A;
$green-whats: #dcf8c6;
$red-normal: #f04124;
$bg-help-block: #F47A66;