<main>
    <div class="center-form panel">
        <div class="panel-body">
            <h2 class="text-center">Log in</h2>
            <form method="post" name="signupForm" ng-submit="ctrl.signup(user);" class="ng-pristine ng-invalid ng-invalid-required">
                <div class="column log-in-form">
                    <h4 class="text-center">Inscrever-se</h4>
                    <hr />
                    <div class="form-group has-feedback" ng-class="{'has-error':!signupForm.name.$valid && !signupForm.name.$pristine}">
                        <input class="form-control input-lg ng-pristine ng-invalid ng-invalid-required ng-touched" type="name" name="name" ng-model="user.name" placeholder="name" required="" autofocus="" style="">
                        <i class="fa fa-user form-control-feedback"></i>
                        <span class="help-block" ng-show="signupForm.name.$error.required && signupForm.name.$invalid && signupForm.name.$dirty || signupForm.name.$error.name">O campo nome é obrigatório.</span>
                    </div>
                    <div class="form-group has-feedback" ng-class="{'has-error':!signupForm.email.$valid && !signupForm.email.$pristine}">
                        <input class="form-control input-lg ng-pristine ng-invalid ng-invalid-required ng-touched" type="email" name="email" ng-model="user.email" placeholder="E-mail" required="" autofocus="" style="">
                        <i class="fa fa-at form-control-feedback"></i>
                        <span class="help-block" ng-show="signupForm.email.$error.required && signupForm.email.$invalid && signupForm.email.$dirty || signupForm.email.$error.email">Um e-mail válido é obrigatório.</span>
                    </div>
                    <div class="form-group has-feedback" ng-class="{'has-error':!signupForm.password.$valid && !signupForm.password.$pristine}">
                        <input class="form-control input-lg ng-pristine ng-untouched ng-invalid ng-invalid-required" type="{{ctrl.inputTypePassword}}" name="password" ng-model="user.password" placeholder="Digite sua senha" required="">
                        <i class="fa fa-key form-control-feedback"></i>
                        <span class="help-block" ng-show="signupForm.password.$error.required && signupForm.password.$invalid && signupForm.password.$dirty">Senha é obrigatório.</span>
                    </div>
                    <div class="form-group has-feedback" ng-class="{'has-error':!signupForm.password.$valid && !signupForm.password.$pristine}">
                        <input class="form-control input-lg ng-pristine ng-untouched ng-invalid ng-invalid-required" type="{{ctrl.inputTypePassword}}" name="confirmPassword" ng-model="user.confirmPassword" placeholder="Confirme sua senha" required="" ng-change="ctrl.comparePassword(user.password,user.confirmPassword)">
                        <i class="fa fa-key form-control-feedback"></i>
                        <span class="help-block" ng-show="signupForm.confirmPassword.$error.required && signupForm.confirmPassword.$invalid && signupForm.confirmPassword.$dirty">Confirmação de senha é obrigatório.</span>
                        <span class="help-block" data-ng-show="!passwordConfirm && signupForm.confirmPassword.$dirty">Passwords do not match.</span>
                    </div>
                    <input id="show-password" type="checkbox" ng-model="passwordCheckbox" ng-click="ctrl.hideShowPassword()">
                    <label for="checkbox" ng-if="passwordCheckbox">Esconder senha</label>
                    <label for="checkbox" ng-if="!passwordCheckbox">Mostrar Senha</label>
                    <p><button type="submit" ng-disabled="!user.email || !passwordConfirm" class="btn btn-lg  btn-block btn-success" value="Log In" disabled="disabled">Cadastrar-se</button></p>
                </div>
            </form>
        </div>
    </div>
</main>